/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}
h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;    
}
h2 {     
    font-size: 120%;
    color: teal;
    margin-bottom: .5em;    
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

/* CSS for home button */
.home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0 0 0 / 15%);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    color: #333;
    cursor: pointer;
    transition: all 0.12s linear;
    text-decoration: unset;
}

.home-button:hover {
    background-color: #f0f0f0;
    color: #000;
}